html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}
.body_btl
{
    width: 100%;
    height: 50px;
    background: #535353;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    position: relative;
    position: fixed;
}
.body_btl > div
{
    position: absolute;
    height: 20px;
    width: 15px;
    background: url(../img/zb/fhbutton2.png);
    background-size: 100% 100%;
    top: 14px;
    left: 18px;
}
.bodyK
{
    width: 100%;
    height: calc(100% - 50px);
    padding-top: 50px;
}
.body_KK
{
    width: 90%;
    height: 230px;
    padding-top: 15%;
    margin: 0 auto;
}
.body_KK > div:first-child
{
    width: 100%;
    height: 20%;
    background: #edaf1f;
    color: #ffffff;
    text-align: center;
    line-height: 45px;
}
.body_KK_xmk
{
    width: 99.3%;
    height: 80%;
    overflow: auto;
    border-left: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
}
.body_KK_xmk > div
{
    width: 100%;
    height: 25%;
    border-bottom: 1px solid #c9c9c9;
}
.marginTop20
{
    margin-top: 10%;
}

.body_KK_xmk>div>div:first-child
{
    width: 25%;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 45px;
    color: #c9c9c9;
    font-size: 1em;
}
.body_KK_xmk>div>div:nth-child(2)
{
    width: 15%;
    height: 100%;
    float: right;
    text-align: center;
    color: #c9c9c9;
    font-size: 1em;
}
.body_KK_xmk>div>div:nth-child(2)>input
{
    width:15px;
    height:15px;
    margin-top:17px;
}
